.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 25%;
}

.box {
    border: 1px solid black;
    text-align: center;
}
